@charset "UTF-8";


@font-face {
	font-family:quest;
	src:url(Quest.ttf);
	
	
	
	
	
}

@font-face {
	font-family:vanadine;
	src:url(Vanadine%20Regular.ttf);
}















.sfondo {
	width: 1400px;
	height: 784px;
	background-image: url(tramontoblur.jpg);
	opacity: 1;
}
.sfondo #spriteanim {
	position: absolute;
	left: 517px;
	bottom: -456px;
}
body {
	margin-left: 0px;
	margin-top: auto;
	width: 1400px;
	max-width: 1400px;
    background-color: black;
}
.sfondo h1 {
	font-weight: 100;
	font-family: quest;
	text-align: center;
	font-size: 68px;
	position: absolute;
	border: thin solid #000000;
	left: 229px;
	top: 94px;
	border-top-right-radius: 0px;
	padding-left: 11px;
	padding-right: 11px;
	text-shadow: 0px 0px;
	padding-top: 10px;
	text-transform: capitalize;
	color: rgba(1,1,1,1.00);
	text-decoration: none;
	letter-spacing: 10px;
}
.sfondo h2 h3 {
	position: absolute;
}
.maincontent {
	width: 1400px;
	height: 600px;
	/* [disabled]background-color: #060000; */
	background-image: -webkit-linear-gradient(270deg,rgba(6,0,0,1.00) 69.48%,rgba(206,134,54,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(6,0,0,1.00) 69.48%,rgba(206,134,54,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(6,0,0,1.00) 69.48%,rgba(206,134,54,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(6,0,0,1.00) 69.48%,rgba(206,134,54,1.00) 100%);
}
.footer {
	width: 1400px;
	height: 639px;
	background-image: url(noblir.png);
	-webkit-transition-property: background-image;
	transition-duration: 1.5s;
}

.sfondo h2 {
	font-family: vanadine;
	text-align: center;
	font-weight: 100;
	font-style: normal;
	font-size: 30px;
	position: absolute;
	left: 289px;
	top: 240px;
	color: #000000;
	text-shadow: 3px 3px 8px rgba(255, 171, 130, 1);
}
.sfondo h3 {
	position: absolute;
	left: 572px;
	top: 332px;
	font-family: vanadine;
	font-size: 30px;
	font-weight: 100;
	text-shadow: 3px 3px 8px rgba(255,171,130,1.00);
}

audio{
    
   position: absolute; 
    
    opacity: 0.50;
    visibility: hidden;
}

.maincontent img {
	position: relative;
	width: 50px;
	left: 140px;
	bottom: -35px;
	opacity: 0;
	-webkit-transition-property: opacity,width;
	transition-duration: 1.5s,3s;
}
.maincontent p {
	position: relative;
	color: rgba(204,101,31,1.00);
	float: right;
	width: 538px;
	left: -129px;
	top: 9px;
	font-weight: lighter;
	font-family: quest;
	font-size: 25px;
	line-height: 35px;
	border-left: thin solid rgba(204,101,31,1.00);
	padding-left: 78px;
	opacity: 0;
	-webkit-transition-property: opacity;
	transition-duration: 1.5s;
}

.footer img {
	width: 61px;
	height: 56px;
	position: relative;
	left: 223px;
	top: 87px;    
    
    
}




.footer p {
	left: 354px;
	top: -51px;
	display: block;
	position: relative;
	font-family: Quest;
	color: #ffffff;
	font-size: 68.31px;
	font-weight: 400;
	text-align: left;
	line-height: 68pt;
	width: 982px;
	opacity: 0;
	-webkit-transition-property: opacity;
	transition-duration: 1.5s;
}
.footer:hover {
	background-image: url(sfondo.png);
	
}

.footer:hover p {
	opacity:1;
}

.maincontent:hover img{
	
	width:363px;
	opacity:1;
}
.maincontent:hover p{
	opacity:1;
}


/* INIZIO MEDIA QUERY */



@media (max-width: 1192px){
.sfondo {
	background-image: url(tramontoblur.jpg);
	opacity: 1;
	background-size: contain;
	width: 100%;
	background-repeat: no-repeat;
	height: 668px;
}
.sfondo #spriteanim {
	position: absolute;
	left: 450px;
	bottom: -342px;
}
body {
	margin-left: 0px;
	margin-top: auto;
	width: 100%;
	height: auto;
	background-color: black;
}
.sfondo h1 {
	font-weight: 100;
	font-family: quest;
	text-align: center;
	font-size: 68px;
	position: absolute;
	border: thin solid #000000;
	left: 116px;
	top: 70px;
	border-top-right-radius: 0px;
	padding-left: 11px;
	padding-right: 11px;
	text-shadow: 0px 0px;
	padding-top: 10px;
	text-transform: capitalize;
	color: rgba(1,1,1,1.00);
	text-decoration: none;
}
.maincontent {
	width: 100%;
	height: 600px;
	background-color: #060000;
}
.sfondo h2 {
	font-family: vanadine;
	text-align: center;
	font-weight: lighter;
	font-style: normal;
	font-size: 30px;
	position: absolute;
	left: 150px;
	top: 203px;
}
img {
	position: relative;
}
.maincontent p {
	position: relative;
	color: rgba(204,101,31,1.00);
	float: right;
	width: 538px;
	left: -55px;
	top: 9px;
	font-weight: lighter;
	font-family: quest;
	font-size: 25px;
	line-height: 35px;
	border-left: thin solid rgba(204,101,31,1.00);
	padding-left: 78px;
}
.footer {
	width: 100%;
	background-image: url(noblir.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 547px;
	
}
.footer img {
	width: 61px;
	height: 56px;
	position: relative;
	left: 185px;
	top: 68px;    
    
}
.footer p {
	left: 281px;
	top: -60px;
	display: block;
	position: relative;
	font-family: Quest;
	color: #ffffff;
	font-size: 57.31px;
	font-weight: 400;
	text-align: left;
	line-height: 68pt;
	width: 898px;
}
.sfondo h3 {
	position: absolute;
	left: 468px;
	top: 286px;
	font-family: vanadine;
	font-size: 30px;
	font-weight: 100;
	text-shadow: 3px 3px 8px rgba(255,171,130,1.00);
}
.maincontent:hover img {
	width: 363px;
	opacity: 1;
	left: 69px;
}
}
